<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Up Box 3d Printer</title>
  <meta name="description" content="UP-BOX-Compact-3D-Desktop-Printer-UP-UP-BOX-FONT-color-red-FONT-size-3-B-I-Available-Spring-2015-B-I-FONT-FONT-P-The-UP-BOX-is-the-third-ground-breaking-model-in-the-award-winning-UP-series-of-desktop-3D-printers-Incorporating-all-of-the-proven-features-of-the-UP-Mini-and-UP-Plus-2-the-UP-BOX-is-easy-to-set-up-use-and-boasts-an-impressive-build-size-of-255-x-205-x-205mm-and-0-1mm-layer-thickness-P-P-Fully-automatic-platform-calibration-BR-Automatic-platform-levelling-and">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="http://bargain-superstore.net/resources/skeleton/css/normalize.css">
  <link rel="stylesheet" href="http://bargain-superstore.net/resources/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="http://bargain-superstore.net/resources/skeleton/css/custom.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "46dba9f7-b42d-4f17-bad7-f48c98773b3a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">
      <h2 class="title">Up Box 3d Printer</h2>
      <img alt="PHOTO MISSING" src="http://www.rapidonline.com/catalogueimages/product/S25-0200P01WL.jpg">
      <br>
      <p>UP-BOX-Compact-3D-Desktop-Printer-UP-UP-BOX-FONT-color-red-FONT-size-3-B-I-Available-Spring-2015-B-I-FONT-FONT-P-The-UP-BOX-is-the-third-ground-breaking-model-in-the-award-winning-UP-series-of-desktop-3D-printers-Incorporating-all-of-the-proven-features-of-the-UP-Mini-and-UP-Plus-2-the-UP-BOX-is-easy-to-set-up-use-and-boasts-an-impressive-build-size-of-255-x-205-x-205mm-and-0-1mm-layer-thickness-P-P-Fully-automatic-platform-calibration-BR-Automatic-platform-levelling-and</p>
      <p><a class="button button-primary" href="http://bargain-superstore.net/bb/products.php?safe=123&dsid=109&did=197017351&kw=Up Box 3d Printer&mid=880">Visit Store</a>  <a class="button button-primary" href="http://bargain-superstore.net/bb/products.php?safe=123&dsid=109&did=197017351&kw=Up Box 3d Printer&mid=880">Buy Item</a></p>
      <br>
      <p>
       <span class='st_facebook_large' displayText='Facebook'></span>
       <span class='st_twitter_large' displayText='Tweet'></span>
       <span class='st_linkedin_large' displayText='LinkedIn'></span>
       <span class='st_pinterest_large' displayText='Pinterest'></span>
      </p>
    </section>
  </div>

<br><br><hr>

<center>
  <div typeof="v:Recipe" xmlns:v="http://rdf.data-vocabulary.org/#">
    <span rel="v:photo" >
      <img alt="Up Box 3d Printer Photo" src="http://www.rapidonline.com/catalogueimages/product/S25-0200P01WL.jpg" width="70">
    </span>
    <br>
    <span property="v:name">
      Up Box 3d Printer
    </span>
    has been rated
    <span rel="v:Review">
      <span typeof="v:Review-aggregate">
        <span rel="v:rating">
          <span typeof="v:Rating">
            <span property="v:average">
              4.6
            </span>
            stars out of
            <span property="v:count">
              45
            </span>
            customer reviews on this site.
          </span>
        </span>
      </span>
    </span>
</div>
</center>

<center><a href="/sitemap.xml">Sitemap</a></center>

<br><br>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>